$primery_color: red;
.root_node > circle{
  fill: red;
  border-style: solid;
  border-color: blue;
}
.branch_node > circle{
  fill: green;
}
/*.leaf_node{
  fill: yellow;
}*/
#tree{
  height: 1200px;
}
body{
  overflow: hidden;
}
/*.rd3t-link{
  stroke: red !important;
}*/
/*g{
  transform: translate(140, -25) !important;
}*/
.rd3t-node.root_node{
  transform: translate(-10px, -40px) !important;
}
/*.rd3t-node.branch_node:nth-of-type(1){
  transform: translate(140px, -600px) !important; 
}*/
#branch-node0{
  transform: translate(140px, -600px);
}
#branch-node1{
  transform: translate(140px, -40px);
}
#branch-node2{
  transform: translate(140px, 520px);
}
#leaf-node0{
  transform: translate(280px, -740px); 
}
#leaf-node1{
  transform: translate(280px, -600px); 
}
#leaf-node2{
  transform: translate(280px, -460px); 
}
#leaf-node3{
  transform: translate(280px, -180px); 
}
#leaf-node4{
  transform: translate(280px, -40px); 
}
#leaf-node5{
  transform: translate(280px, 100px); 
}
#leaf-node6{
  transform: translate(280px, 380px); 
}
#leaf-node7{
  transform: translate(280px, 520px); 
}
#branch-node3{
  transform: translate(280px, 660px);
}
#branch-node4{
  transform: translate(420px, 660px);
}
#branch-node5{
  transform: translate(560px, 660px);
}
#leaf-node8{
  transform: translate(700px, 660px); 
}
#unique-node0{
  background: white !important;
  border-color: black;
  border-style: solid;
  border-right: 5ca;
}